
<header style="background-color: chartreuse; height: 100px;">
    <h1 class="text-centre">Online Groceries Shop</h1>

</header>
<nav >
    <a routerLink="item" class="myclass"><h3>Add items</h3></a>
    <a routerLink="aboutus" class="myclass"><h3>About Us</h3></a>
</nav>
<router-outlet></router-outlet>
<app-category></app-category>
<section>
    <app-grocelist></app-grocelist>
    </section>
<br><br>

<footer>
    
        
    
    <router-outlet></router-outlet> 
    <h4><b>POPULAR CATEGORIES:</b></h4> <br>
Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,
<h4><b>POPULAR BRANDS:</b></h4><br>
Fresho, BB Royal, Nandini, Kelloggs, 24 Mantra, Saffola, Lizol, Safal, Horlicks, MTR, Fresho Meats, Whisper , Real, Milky Mist, Nivea, Himalaya, Comfort, Sunpure , Bru , Zespri,
<h4><b>CITIES WE SERVE:</b></h4><br>
Bangalore, Hyderabad, Mumbai, Pune, Chennai, Delhi, Mysore, Madurai, Coimbatore, Vijayawada-Guntur, Kolkata, Ahmedabad-Gandhinagar, Nashik, Lucknow-Kanpur, Gurgaon, Vadodara, Visakhapatnam, Surat, Nagpur, Patna, Indore, Chandigarh Tricity, Jaipur, Bhopal, Noida-Ghaziabad, Kochi, Krishna District, Bhubaneshwar-Cuttack, Guwahati, 
</footer>
